# This program and the accompanying materials are made available under the
# terms of the MIT license (X11 license) which accompanies this distribution.

# author: C. Bürger

# Ignore backup files of common text editors:
**/*~
# Ignore macOS Desktop Services Store configuration files:
**/.DS_Store
# Ignore generated object and binary directories:
**/binaries
**/obj
# Ignore temporary files and file locks dicetories:
deploying/deployment-scripts/temporary-files
deploying/deployment-scripts/file-locks
# Ignore profiling measurements:
**/measurements
# Ignore installed NUnit:
/tests-net/nunit
